.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 1rem 1rem;
  box-shadow: 0 2px 3px #c0c0c0;
  width : 24rem;
  border-radius: 2px;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: normal;
}

input {
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

label {
  padding: .3rem 0;
}

.button-ctn {
    display: flex;
    justify-content: center;
}

button {
    width: 15rem;
    border: 1px solid #F7941D;
    background: #F7941D;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}